<aside class="sidebar">

    <div class="sidebar-brand">

        <div class="brand-logo">
            <i class="bi bi-send-check-fill"></i>
        </div>

        <div>
            <h1>CorrespAdmin</h1>
            <span>Gestión Documental</span>
        </div>

    </div>


    <div class="sidebar-menu">

        <span class="menu-title">
            Principal
        </span>


        <a href="/" class="menu-item">

            <i class="bi bi-grid-1x2-fill"></i>
            <span>Dashboard</span>

        </a>

        {% if current_user.rol in ['ADMINISTRADOR','RECEPCION'] %}
        <a href="/entrada" class="menu-item">

            <i class="bi bi-inbox-fill"></i>
            <span>Correspondencia Entrada</span>

        </a>
        {% endif %}

        {% if current_user.rol in ['ADMINISTRADOR','PERSONAL'] %}
        <a href="/salida" class="menu-item">

            <i class="bi bi-send-fill"></i>
            <span>Correspondencia Salida</span>

        </a>
        {% endif %}

        {% if current_user.rol in ['ADMINISTRADOR','ARCHIVO'] %}

        <a href="{{ url_for('dashboard.archivados') }}"
            class="menu-item">

            <i class="bi bi-archive-fill"></i>
            <span>Documentos Archivados</span>

        </a>

        {% endif %}

        {% if current_user.rol in ['ADMINISTRADOR','MENSAJERIA'] %}

        <a href="#" class="menu-item">

            <i class="bi bi-truck"></i>
            <span>Mensajeria</span>

        </a>

        {% endif %}

        {% if current_user.rol == 'ADMINISTRADOR' %}


        <a href="#" class="menu-item">

            <i class="bi bi-clock-history"></i>
            <span>Seguimiento</span>

        </a>


        <a href="#" class="menu-item">

            <i class="bi bi-bar-chart-fill"></i>
            <span>Reportes</span>

        </a>


        <a href="{{ url_for('usuario.listar_usuarios') }}" class="menu-item">

            <i class="bi bi-people-fill"></i>
            <span>Usuarios</span>

        </a>


        <a href="#" class="menu-item">

            <i class="bi bi-gear-fill"></i>
            <span>Configuración</span>

        </a>
        {% endif %}

    </div>

</aside>