<header class="topbar">

    <div>
        <h2 class="page-title">Sistema de Correspondencia</h2>
    </div>

    <div class="topbar-actions">

        <button class="icon-btn">
            <i class="bi bi-search"></i>
        </button>

        <button class="icon-btn position-relative">
            <i class="bi bi-bell-fill"></i>
            <span class="notification-dot"></span>
        </button>

        <div class="user-box">
            <div class="avatar">
                JL
            </div>

            <div>
                <h6>Administrador</h6>
                <span>Online</span>
            </div>
        </div>

    </div>

</header>