<header class="topbar">

    <div>
        <h2 class="page-title">Sistema de Correspondencia</h2>
    </div>

    <div class="topbar-actions">

        <button class="icon-btn">
            <i class="bi bi-search"></i>
        </button>

        <button class="icon-btn position-relative">
            <i class="bi bi-bell-fill"></i>
            <span class="notification-dot"></span>
        </button>

        <div class="user-box" onclick="location.href='{{ url_for('usuario.perfil') }}'" style="cursor:pointer;">
            <div class="avatar">
                JL
            </div>

            <div>
                <h6>{{ current_user.nombre }}</h6>
                <span>{{ current_user.rol }}</span>
            </div>
        </div>

    </div>

</header>